#exportPattern("^[[:alpha:]]+")
importFrom(stats, coef, cov, glm, lm, printCoefmat)
importFrom(stats, as.formula, model.frame, model.matrix)
importFrom(stats, complete.cases, sd, pchisq)
importFrom(numDeriv, jacobian, grad)
export(gim)
S3method(summary, gim)
S3method(vcov, gim)
S3method(print, summary.gim)
S3method(gim, default)
